{% extends 'navbar/navbar.html' %}
{% load icon %}

{% block title %}Mapa de leitos - AegisShare{% endblock %}

{% block page_content %}
<section class="section pt-4">
    <div class="container is-fluid">
        <div class="level mb-5">
            <div class="level-left">
                <div>
                    <p class="heading">ADT</p>
                    <h1 class="title is-3 mb-1">Mapa de leitos</h1>
                    <p class="muted">Atualização automática a cada 5 segundos. Dados identificáveis respeitam o escopo PEP.</p>
                </div>
            </div>
            <div class="level-right">
                <div class="buttons">
                    {% if can_transfer %}
                        <a class="button is-warning" href="{% url 'adt:transfer_create' %}">{% icon 'repeat' %}<span>Transferir</span></a>
                    {% endif %}
                    {% if can_discharge %}
                        <a class="button is-danger is-light" href="{% url 'adt:discharge_create' %}">{% icon 'log-out' %}<span>Registrar alta</span></a>
                    {% endif %}
                    {% if can_admit %}
                        <a class="button is-link" href="{% url 'adt:admission_create' %}">{% icon 'log-in' %}<span>Nova admissão</span></a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'clinical/adt/_bed_map.html' %}
    </div>
</section>
{% endblock %}
