{% extends 'navbar/navbar.html' %}
{% load icon %}

{% block title %}Inicio - Aegis Share{% endblock %}

{% block page_content %}
<div class="columns is-centered mt-5">
    <div class="column is-8-tablet is-6-desktop">
        <section class="box has-background-link is-bold">
            <div class="container has-text-centered">
                <h1 class="title is-2 has-text-white has-text-weight-bold">Bem-vindo {{ user.username }}</h1>

                {% if user.nivel_permissao != 'CLI' %}
                    <p class="subtitle has-text-white is-5">O que deseja fazer?</p>
                    <a href="{% url "upload" %}" class="button is-light is-large mt-4">
                        <span class="icon">{% icon "upload" style="width: 18px; height: 18px;" %}</span>
                        <span>Upload de Arquivo</span>
                    </a>
                {% endif %}

                <a href="{% url "arquivos" %}" class="button is-light is-large mt-4">
                    <span class="icon">{% icon "search" style="width: 18px; height: 18px;" %}</span>
                    <span>Procurar um Arquivo</span>
                </a>
            </div>
        </section>
    </div>
</div>


{% if messages %}
    {% for message in messages %}
        {% if message.tags != "success" %}
            <div class="modal is-active" id="djangoMessagesModal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">ATENÇÃO</p>
                        <button class="delete" aria-label="close" onclick="document.getElementById('djangoMessagesModal').classList.remove('is-active')"></button>
                    </header>
                    <section class="modal-card-body has-text-centered">
                        <p class="has-text is-size-6">{{ message }}</p>
                    </section>
                    <footer class="modal-card-foot is-justify-content-center">
                        <button class="button is-{{ message.tags }} is-fullwidth" onclick="document.getElementById('djangoMessagesModal').classList.remove('is-active')">
                            OK
                        </button>
                    </footer>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}