{% extends 'navbar/navbar.html' %}
{% load django_bootstrap5 %}
{% load icon %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block title %}Inicio - Aegis Share{% endblock %}

{% block page_content %}
    <section class="hero-section">
        <div class="container text-center">
            <h1 class="display-4 fw-bold">Bem-vindo ao Aegis Share</h1>
            <p class="lead">Uma solução desenvolvida com Django, Redis e IPFS</p>
            <a href="{% url 'sobre' %}" class="btn btn-light btn-lg mt-3">
                {% icon "info" style="width: 18px; height: 18px;" %}
                Saiba Mais
            </a>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    {% icon "zap" class="text-primary" style="width: 48px; height: 48px;" %}
                    <h3 class="mt-3">Rápido</h3>
                    <p>Ferramentas Modernas, WebSockets e Assíncronia, para melhorar o desempenho.</p>
                </div>
                <div class="col-md-4 text-center">
                    {% icon "shield" class="text-success" style="width: 48px; height: 48px;" %}
                    <h3 class="mt-3">Seguro</h3>
                    <p>Criptografia moderna, TLS/SSL e Cluster IPFS para um ambiente o mais seguro possível</p>
                </div>
                <div class="col-md-4 text-center">
                    {% icon "users" class="text-danger" style="width: 48px; height: 48px;" %}
                    <h3 class="mt-3">Fácil</h3>
                    <p>Interface feita com intenção de ser intuitiva e amigável para usuários leigos.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}