{% extends 'navbar/navbar.html' %}
{% load static %}
{% load icon %}


{% block title %}Inicio - Aegis Share{% endblock %}

{% block page_content %}

<div class="columns is-centered mt-5">
    <div class="column is-8-tablet is-6-desktop">
        <section class="box has-background-link">
            <div class="has-text-centered">
                <h1 class="title is-2 has-text-light has-text-weight-bold">Bem-vindo ao Aegis Share</h1>
                <p class="subtitle has-text-light is-5">Django + IPFS</p>
                <a href="{% url 'sobre' %}" class="button is-light is-large mt-4">
                    <span class="icon">{% icon "info" style="width: 18px; height: 18px;" %}</span>
                    <span>Saiba Mais</span>
                </a>
            </div>
        </section>
    </div>
</div>

<section class="section py-5">
    <div class="container">
        <div class="columns is-multiline is-variable is-8 has-text-centered">

            <div class="column is-one-third">
                {% icon "shield" class="icon has-text-link is-large" %}
                <h3 class="title is-5 mt-3">Seguro</h3>
                <p>Criptografia e IPFS para um ambiente seguro</p>
            </div>

            <div class="column is-one-third">
                {% icon "zap" class="icon has-text-danger is-large" %}
                <h3 class="title is-5 mt-3">Rápido</h3>
                <p>Assíncronia para melhorar o desempenho.</p>
            </div>

            <div class="column is-one-third">
                {% icon "users" class="icon has-text-success is-large" %}
                <h3 class="title is-5 mt-3">Fácil</h3>
                <p>Interface intuitiva para usuários novos.</p>
            </div>

        </div>
    </div>
</section>

{% endblock %}
