{% extends 'navbar/navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load icon %}

{% block title %}Arquivos - Aegis Share{% endblock %}

{% block page_content %}
<div class="container mt-5">
  <div class="columns">
    <div class="column is-full">
      <div class="box has-shadow">
        <div class="box has-background-link p-4">
          <h5 class="title has-text-light is-5 mb-0">{% if request.user.nivel_permissao == "CLI" %}Meus{% endif %}  Arquivos</h5>
        </div>

        <div class="p-0">
          {% if arquivos %}
            <div class="table-container">
              <table class="table is-hoverable is-fullwidth mb-0">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Dono</th>
                    <th>CID</th>
                    <th>Tamanho</th>
                    <th>Data</th>
                    <th>Arquivo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for arquivo in arquivos %}
                    <tr>
                      <td>{{ arquivo.nome_arquivo }}</td>
                      <td>{{ arquivo.dono_arquivo.username }}</td>
                      <td style="max-width: 100px; word-break: break-word;">
                        <small>{{ arquivo.cid|truncatechars:20 }}</small>
                      </td>
                      <td>{{ arquivo.tamanho_arquivo|filesizeformat }}</td>
                      <td>{{ arquivo.data_adicionado|date:"d/m/Y H:i" }}</td>
                      <td>
                        <a href="https://ipfs.io/ipfs/{{ arquivo.cid }}" target="_blank" class="button is-small is-link">
                          Abrir
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="p-4">
              <p class=" mb-0">Sem nenhum arquivo registrado.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
