{% extends 'navbar/navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load icon %}

{% block title %}Arquivos - Aegis Share{% endblock %}

{% block page_content %}

<div class="container mt-5">
  <div class="columns">
    <div class="column is-full">
      <div class="box has-shadow">
        <div class="box has-background-link p-4 mb-3"> 
            <nav class="level is-mobile mb-0">
              <div class="level-left">
                  <div class="level-item">
                      <h5 class="title has-text-light is-5 mb-0">
                          {% if request.user.nivel_permissao == "CLI" %}Meus {% endif %}Arquivos
                      </h5>
                  </div>
              </div>

              <div class="level-right">
                  <div class="level-item">
                      <a href="{% url 'buscar_arquivo' %}" class="button is-small is-light is-inverted">
                          <span class="icon is-small">
                              {% icon "x" %}
                          </span>
                          <span>Remover Filtros</span>
                      </a>
                  </div>
              </div>
            </nav>
        </div>

        <div class="p-0">
          {% if arquivos %}
            <div class="table-container">
              <table class="table is-hoverable is-fullwidth mb-0">
                <thead>
                  <tr>
                    <form id="form_filtros">
                      <th>
                        <div>Nome</div>
                        <input type="text" class="input is-small search-input" value="{{request.GET.nome}}" name="nome"
                            hx-get="{% url "buscar_arquivo" %}"
                            title="Selecione o Nome do arquivo"
                            hx-trigger="keyup changed delay:200ms"
                            hx-target="#table-body"
                            hx-push-url="true"
                            hx-include="#form_filtros"
                            placeholder="Filtrar nome...">
                      </th>

                      {% if request.user.nivel_permissao != "CLI" %}
                        <th>
                            <div>Dono</div>
                            <input type="text" class="input is-small search-input" value="{{request.GET.dono}}" name="dono"
                                hx-get="{% url "buscar_arquivo" %}"
                                title="Selecione o dono"
                                hx-trigger="keyup changed delay:200ms"
                                hx-target="#table-body"
                                hx-push-url="true"
                                hx-include="#form_filtros"
                                placeholder="Filtrar dono...">
                        </th>
                      {% endif %}

                      <th>
                          <div>Data (Completa)</div>
                          <div class="date-filters">
                              <input type="text" class="input is-small date-search-input data" value="{{request.GET.data_min}}" name="data_min"
                                    hx-get="{% url "buscar_arquivo" %}"
                                    title="Data Inicial"
                                    hx-trigger="keyup changed delay:500ms"
                                    hx-target="#table-body"
                                    hx-push-url="true"
                                    hx-include="#form_filtros"
                                    placeholder="dd/mm/aaaa"
                                    maxlength="10">

                              <input type="text" class="input is-small date-search-input data" value="{{request.GET.data_max}}" name="data_max"
                                    hx-get="{% url "buscar_arquivo" %}"
                                    title="Data Limite"
                                    hx-trigger="keyup changed delay:500ms"
                                    hx-target="#table-body"
                                    hx-push-url="true"
                                    hx-include="#form_filtros"
                                    placeholder="dd/mm/aaaa"
                                    maxlength="10">
                          </div>
                      </th>
                    
                      <th
                        hx-get="{% url 'buscar_arquivo' %}"
                        hx-trigger="change"
                        hx-target="#table-body"
                        hx-push-url="true"
                        hx-include="#form_filtros"
                      >
                        <div>Tamanho</div>
                        <label class="radio">
                          <input type="radio" name="ordenar" value="tamano_menor" {% if request.GET.ordenar == "tamano_menor" %} checked {% endif %} />
                          <span class="icon">{% icon "arrow-up" %}</span>
                        </label>
                        <label class="radio">
                          <input type="radio" name="ordenar" value="tamano_maior" {% if request.GET.ordenar == "tamano_maior" %} checked {% endif %} />
                          <span class="icon">{% icon "arrow-down" %}</span>
                        </label>
                      </th>
                      
                      <th>
                        CID
                      </th>

                      <th>
                        Arquivo
                      </th>
                    </form>
                  </tr>
                </thead>
                <tbody id="table-body">
                  
                  {% include "arquivos/htmx_arquivos.html" %}

                </tbody>
              </table>
            </div>
          {% else %}
            <div class="p-4">
              {% if user.nivel_permissao == "FUNC" %}
                <p class=" mb-0">Sem nenhum arquivo registrado ou compartilhado com você.</p>
              {% else %}
                <p class=" mb-0">Sem arquivos.</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function copiarCID(cid) {
      navigator.clipboard.writeText(cid).then(() => {
          mostrarNotificacao('CID copiado!', 'success');
      }).catch(err => {
          console.error('Erro ao copiar: ', err);
          mostrarNotificacao('Erro ao copiar CID', 'danger');
      });
  }

  function mostrarNotificacao(mensagem, tipo) {
      const notificationHTML = `
          <div class="notification is-${tipo} has-text-white is-dismissible auto-dismiss-down" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 999;">
              ${mensagem}
          </div>
      `;
      
      document.body.insertAdjacentHTML('beforeend', notificationHTML);
  }
</script>
{% endblock %}
