{% extends 'navbar/navbar.html' %}
{% load static %}
{% load icon %}
{% block title %}Upload - Aegis Share{% endblock %}

{% block page_content %}
<section class="section">
    <div class="container columns is-centered">
        <div class="column is-half">
            <div class="box">
                <div class="box has-background-link">
                    <h1 class="title has-text-centered has-text-white">Upload de Arquivo</h1>
                </div>
                {% include 'forms/upload_form.html' %}
                <div id="message-container">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags != "success" %}
                                <div class="notification is-{{ message.tags }} auto-dismiss-up">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}