{% extends 'navbar/navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load icon %}

{% block title %}Upload - Aegis Share{% endblock %}


{% block page_content %}

  <!-- Botão que abre o modal -->
  <button
    class="button is-primary"
    _="on click add .is-active to #meu_modal">
    Abrir Modal
  </button>

  <!-- Modal Bulma -->
  <div id="meu_modal" class="modal">
    <div class="modal-background"
        _="on click remove .is-active from #meu_modal"></div>

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Título do Modal</p>
        <button class="delete"
                aria-label="close"
                _="on click remove .is-active from #meu_modal"></button>
      </header>

      <section class="modal-card-body">
        <p>Este é um modal Bulma controlado com Hyperscript!</p>
      </section>

      <footer class="modal-card-foot">
        <button class="button"
                _="on click remove .is-active from #meu_modal">
          Cancelar
        </button>
        <button class="button is-success">Confirmar</button>
      </footer>
    </div>
  </div>
{% endblock %}


{% block scripts %}
{% endblock scripts %}