{% extends 'navbar/navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load icon %}


{% block title %}Cadastro - Aegis Share{% endblock %}

{% block page_content %}

<div class="auth-container">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-7-tablet is-5-desktop">
                <div class="box p-5">
                    <div class="box has-background-link has-text-centered">
                        <p class="title has-text-light is-3 has-text-weight-bold">CADASTRAR</p>
                        <p class="has-text has-text-light">Crie uma conta</p>
                    </div>

                   

                    <div id="message-container">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags != "danger" and message.tags != "success" %}
                                    <div class="notification is-{{ message.tags }} auto-dismiss-up">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <form method="post">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <div class="mt-4 mb-3">
                            <button type="submit" class="button is-link is-fullwidth is-large">
                                {% icon "plus" %} <span>Cadastrar</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


{% endblock %}