{% extends 'navbar/navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load bulma_tags %}
{% load icon %}

{% block title %}Login - Aegis Share{% endblock %}


{% block page_content %}
    <div class="auth-container">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6-tablet is-4-desktop">
                    <div class="box p-5">

                        <div class="box has-background-link">
                            <div class="has-text-centered mb-2">
                                <h3 class="title is-4 has-text-weight-bold has-text-light">ENTRAR</h3>
                                <p class="has-text-light">Acesse sua conta</p>
                            </div>
                        </div>
                        
                        <br>

                        <form method="post">
                            {% csrf_token %}

                            <div class="field mb-4">
                                <label class="label" for="username">
                                    <span class="icon-text">
                                        <span class="icon">
                                            {% icon "user" style="width: 20px; height: 20px;" %}
                                        </span>
                                        <span>Usuário</span>
                                    </span>
                                </label>
                                <div class="control">
                                    <input class="input" type="text" id="username" name="username"
                                        placeholder="Digite seu usuário" required>
                                </div>
                            </div>

                            <div class="field mb-4">
                                <label class="label" for="password">
                                    <span class="icon-text">
                                        <span class="icon">
                                            {% icon "lock" style="width: 20px; height: 20px;" %}
                                        </span>
                                        <span>Senha</span>
                                    </span>
                                </label>
                                <div class="control">
                                    <input class="input" type="password" id="password" name="password"
                                        placeholder="Digite sua senha" required>
                                </div>
                            </div>

                            <div id="message-container">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="notification is-{{ message.tags }} auto-dismiss">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <div class="mt-4">
                                <button type="submit" class="button is-link is-fullwidth is-large">
                                    <span class="icon-text is-align-items-center">
                                        <span class="icon">
                                            {% icon "arrow-right" %}
                                        </span>
                                        <span>Entrar</span>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock scripts %}