{% if form.non_field_errors %}<div class="notification is-danger is-light" role="alert">{{ form.non_field_errors }}</div>{% endif %}
{% for field in form.hidden_fields %}{{ field }}{{ field.errors }}{% endfor %}
{% for field in form.visible_fields %}
<div class="field">
    <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="control" style="overflow-wrap: anywhere;">
        {% if field.field.widget.input_type == 'select' %}<div class="select is-fullwidth">{{ field }}</div>{% else %}{{ field }}{% endif %}
    </div>
    {{ field.errors }}
</div>
{% endfor %}
