{% extends 'navbar/navbar.html' %}
{% load icon %}
{% load static %}

{% block title %}Sobre - Aegis Share{% endblock %}

{% block page_content %}

<!-- Cabeçalho -->
<div class="columns is-centered mt-6 mb-6">
  <div class="column is-10">
    <div class="box has-background-link has-text-white has-text-centered">
      <h1 class="title has-text-white is-2">
        {% icon "info" style="width: 20px; height: 20px;" %}
        Projeto Acadêmico
        {% icon "info" style="width: 20px; height: 20px;" %}
      </h1>
      <p class="subtitle has-text-white is-5">Sistema de compartilhamento de arquivos com base em IPFS e Assincronismo.</p>
    </div>
  </div>
</div>

<!-- Objetivo -->
<div class="container">
  <div class="columns is-centered mb-6">
    <div class="column is-10">
      <h2 class="title is-3 has-text-centered has-text-link">Objetivo do Projeto</h2>
      <p class="has-text-centered">
        O Aegis Share foi desenvolvido como um projeto acadêmico para explorar e validar a viabilidade de integrar protocolos de rede descentralizados (como o IPFS) com a arquitetura de um framework web tradicional e robusto como o Django. O foco principal é a resolução de desafios técnicos em torno da segurança e da imutabilidade de arquivos.
      </p>
    </div>
  </div>

  <hr class="my-5">

  <!-- Cards -->
  <h2 class="title is-4 has-text-centered mb-5">Escopo Técnico da Implementação</h2>
  <div class="columns is-variable is-8">
    
    <!-- Card 1 -->
    <div class="column">
        <div class="box has-shadow">
            <div class="has-text-centered mb-3">
            {% icon "lock" class="has-text-link" style="width: 30px; height: 30px;" %}
            </div>
            <h5 class="title is-5 has-text-centered">Segurança</h5>
            <p>
            IPFS é um pilar no projeto. Arquivos recebem um hash (CID) e são distribuídos na rede, sendo assim imutáveis. Senhas Criptografadas com Argon2.
            </p>
            <div class="has-text-centered mt-3">
            <span class="tag is-link">Arquitetura Segura</span>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="column">
        <div class="box has-shadow">
            <div class="has-text-centered mb-3">
            {% icon "zap" class="has-text-danger" style="width: 30px; height: 30px;" %}
            </div>
            <h5 class="title is-5 has-text-centered">Velocidade e Assíncrona</h5>
            <p>
              Redis e HTMX proporcionam atualizações em tempo real e responsividade, garantindo uma experiência fluida.
            </p>
            <div class="has-text-centered mt-3">
            <span class="tag is-danger">Arquitetura Veloz</span>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="column">
        <div class="box has-shadow">
            <div class="has-text-centered mb-3">
            {% icon "server" class="has-text-success" style="width: 30px; height: 30px;" %}
            </div>
            <h5 class="title is-5 has-text-centered">Estrutura</h5>
            <p>
            Servido via Granian, o Django estrutura o sistema com MVC claro e robusto, integrando Frontend, Autenticação e Backend no mesmo Ambiente.
            </p>
            <div class="has-text-centered mt-3">
            <span class="tag is-success">Arquitetura Estruturada</span>
            </div>
        </div>
    </div>

  </div>

  <hr class="my-5">

  <!-- Design Arquitetural -->
  <div class="columns is-vcentered">
    <div class="column is-6">
      <h3 class="title is-4">Design Arquitetural e Ferramentas</h3>
      <p class="has-text-grey mb-4">
        Tecnologias utilizadas para orquestrar o ambiente de desenvolvimento e produção:
      </p>
      <ul class="content">
        <li>
          {% icon "code" style="width: 20px; height: 20px;" %}
          <strong class="ml-2">Backend e Servidor:</strong> Django (Python) e Granian (ASGI, Rust)
        </li>
        <li>
          {% icon "globe" style="width: 20px; height: 20px;" %}
          <strong class="ml-2">Armazenamento:</strong> IPFS (Protocolo P2P)
        </li>
        <li>
          {% icon "message-square" style="width: 20px; height: 20px;" %}
          <strong class="ml-2">Comunicação:</strong> Redis, HTMX e Ajax
        </li>
        <li>
          {% icon "box" style="width: 20px; height: 20px;" %}
          <strong class="ml-2">Orquestração:</strong> Docker (IPFS, Redis, Django)
        </li>
      </ul>
    </div>

    <div class="column is-6 has-text-centered">
      <figure class="image is-4by6" style="width: 45%; margin: 0 auto;">
        <img src="{% static "images/fluxo.png" %}" alt="Diagrama de Arquitetura do Projeto Aegis Share">
      </figure>
      <small class="has-text-grey mt-2 is-block">Ilustração conceitual da arquitetura do projeto.</small>
    </div>
  </div>
</div>

{% endblock %}
